.ant-layout {
  background-color: white !important;
}
.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #001529;
  transition: all 0.2s;
  height: fit-content;
  right: 1.5rem;
  top: 1px;
}
.ant-layout-sider,
.ant-menu {
  flex: 0 0 110px !important;
  max-width: 110px !important;
  min-width: 110px !important;
  width: 110px !important;
  background-color: rgba(37, 166, 155, 1) !important;
  border-radius: 12px;
}
.ant-menu-item-selected {
  background-color: whitesmoke !important;
  color: black !important;
}
.anticon-menu-fold,
.anticon-menu-unfold {
  padding-left: 12px !important;
  transform: rotate(180deg) !important;
}
.ant-modal-footer {
  margin: 0 !important;
}
.ant-steps-item-icon {
  background-color: whitesmoke !important;
  border-color: #25a69b !important;
}
.ant-steps-icon {
  color: black !important;
}
.ant-steps-item-title::after {
  background-color: rgba(5, 5, 5, 0.06) !important;
}
.ant-steps-item-tail::after {
  background-color: #25a69b !important;
}
.ant-result-extra {
  margin: 12px 0px 0px 0px;
}
.ant-popconfirm {
  direction: rtl !important;
}
.anticon-exclamation-circle {
  color: red !important;
}

.ant-tag,
.ant-tag__ok {
  text-align: center !important;
  min-width: 65px !important;
  background-color: #0080001d !important;
  color: green !important;
}
.ant-tag__nok {
  color: red !important;
  background-color: #ff00001a !important;
}
.ant-pagination,
.ant-table-pagination {
  direction: ltr !important;
}
.ant-pagination-item-active {
  color: #25a69b !important;
  border-color: #25a69b !important;
}
.ant-pagination-item-active > a {
  color: #25a69b !important;
}

@media only screen and (max-width: 426px) {
  .ant-card {
    width: 100% !important;
  }
}
