* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
#root {
  width: 98vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.root-sub {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding-top: 12px;
}
.karzar--btn {
  background-color: #fff;
  border-radius: 10px;
  color: #25a69b;
  padding: 0px 16px;
  outline: none;
  border: 1px solid #25a69b;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.karzar--btn:hover {
  color: white;
  background-color: #25a69b;
  border: 1px solid white;
}
.karzar--btn:disabled,
.karzar--btn[disabled],
.karzar--btn__disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: none;
}
.karzar-creator {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
